@import './src/sass/global/variables.scss';

.footer {
  width: 100%;
  min-height: 68px;
  background: #000000 url("img/bg-footer.webp") center no-repeat;
  color: #ffffff;
  padding-top: 20px;
}

/* если не поддерживается webp */
.no-webp .footer {
  background: #000000 url("img/bg-footer.jpg") center no-repeat;
  background-size: cover;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer__copyright {
  color: #464646;
}

.footer__logo {
  font-size: 30px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-left: 33%;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    margin-left: 20%;
  }
}
